node_modules/
./yarn.lock
./package-lock.json
.env
**/.DS_Store

# Now explicitly allow .gitkeep files, overriding the previous ignore rules
!workspaces/apps/.gitkeep
!workspaces/GPTS/.gitkeep
!workspaces/endpoints/.gitkeep
!workspaces/packages/dataformatters/.gitkeep
!workspaces/packages/utils/.gitkeep
!workspaces/packages/controllers/.gitkeep
package-lock.json
