node_modules/
yarn.lock
package-lock.json
.env
**/.DS_Store

# If you plan to add specific directories as submodules, you don't need to ignore them explicitly
# Remove specific ignores for directories you'll add as submodules
# For example, if you'll add all.this as a submodule, don't ignore it here

# Ignore all other directories and files in workspaces/packages that are not submodules
workspaces/packages/*/

# Ignore everything in these directories
workspaces/apps/*
workspaces/GPTS/*
workspaces/endpoints/*

