node_modules/
/workspaces/packages/dataformatters/*
/workspaces/packages/utils/*
/workspaces/packages/controllers/*
/workspaces/apps/*
/workspaces/GPTS/*
/workspaces/endpoints/*
/workspacesyarn.lock
/package-lock.json
.env
# Ignore all files in the root except the ones we want to publish

"category": "utils",