# Node and editor files
node_modules/
yarn.lock
package-lock.json
.env
**/.DS_Store

# Local development
local.config.js
debug.log

# Documentation and examples
docs/
examples/

# Test directories
tests/
__tests__/
coverage/

# Build and source maps
dist/
*.map

# Ignore all submodules (directories with a .git)
**/.git

# All files inside the workspaces directory
codespaces/

# Specific subdirectories to ignore
codespaces/packages/dataformatters/
codespaces/packages/utils/
# ... add more directories as needed

# Now explicitly allow .gitkeep files
!.gitkeep
