.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
gitprofile.config.js
library.config.js
tailwind.config.mjs
vite.config.js
stats.html
docs/
node_modules/
yarn.lock
package-lock.json
.env
**/.DS_Store
./workspaces
./docs
# Now explicitly allow .gitkeep files, overriding the previous ignore rules
!workspaces/apps/.gitkeep
!workspaces/GPTS/.gitkeep
!workspaces/endpoints/.gitkeep
!workspaces/packages/dataformatters/.gitkeep
!workspaces/packages/utils/.gitkeep
!workspaces/packages/controllers/.gitkeep